#nav-bar {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 2em 0 2em;
    background-color: #00a087;
    color: #e8fdff;
    z-index: 1;
    display: flex;
    align-items: center;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    order: 0;
}

#nav-bar .header {
    font-size: 300%;
    margin-left: 10px;
    order: 1;
}

#login-form {
    order: 2;
    margin-left: auto;
}

#compose-button {
    width: 100px;
    height: 60px;
    margin: 10px;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    border: solid #eee 1px;
    order: 3;
}

#compose-button:hover{
    background-color: white;
}