.tweet {
  margin-top: 10px;
  padding: 0;
  background-color: white;
  opacity: 0.8;
}

.tweet:hover {
  opacity: 1;
}

.tweet .avatar {
  float: left;
  border-radius: 10px;
  height: 60px;
  width: 60px;
}

.tweet h2 {
  float: left;
  border-bottom-style: none;
  margin-left: 10px;
}

.tweet .tweet-author {
  float: right;
  font-style: italic;
}

.clearfix {
  clear: both;
}

.tweet header {
  padding: 10px;
  width: 100%;
  height: 80px;
  border-radius: 10px 10px 0 0;
  background-color: #eee;
}

.tweet .tweet-body {
  padding: 20px 10px;
}

.tweet-body p{
  word-wrap: break-word;
}

.tweet footer {
  padding: 10px;
  border-top: solid black 1px;
}

.tweet .mini-icons {
  float: right;
  opacity: 0;
}

.tweet:hover .mini-icons {
  opacity: 1;
}

.tweet .mini-icons .fa {
  font-size: 1.3em;
  padding: 1px;
  margin: 0 2px;
}

.fa-heart:hover {
  color: red;
}

.fa-retweet:hover {
  color: #00a087;
}

.fa-flag:hover {
  color: #b80000;
}